:root {
  
}
:root {
    --black: #000000;
    --blaze-orange: #fd6101;
    --disabled-grey: #c4c4c4;
    --elf-green: #078378;
    --gray200: #dadae8;
    --grays500: #9190a1;
    --hurricane: #8d7d7d;
    --sea-serpent: #4fd1c5;
    --themedark-bg: #0f1f3e;
    --themesoft-colorsfaded-white: #ffffff1a;
    --themesoft-colorsprimary-soft: #00b2ff14;
    --tuna: #2f2e41;
    --white: #ffffff;
    --font-size-l: 49px;
    --font-size-m: 32px;
    --font-size-s: 25px;
    --font-size-xl: 77px;
    --font-size-xs: 24px;
    --font-size-xxs: 16px;
    --font-family-inter: "Inter", Helvetica;
    --font-family-pt_sans_caption: "PT Sans Caption", Helvetica;
    --font-family-rounded_mplus_1c_bold-bold: "Rounded Mplus 1c Bold-Bold", Helvetica;
    --font-family-rubik: "Rubik", Helvetica;
    --font-family-zen_loop: "Zen Loop", Helvetica;
    --colorOrange: #ff6250;
    --colorVert:#4FD1C5; 
    --fontZine: 'Zen Loop', sans-serif;

}



   @import url('https://fonts.cdnfonts.com/css/zen-loop');

   .cours h1 {
    -webkit-text-stroke: 2px var(--elf-green);
    background-color: transparent;
    color: transparent;
    font-style: normal;
    font-weight: 700;
    padding: 7rem ;
    line-height: 77px;
    font-size: 67px;
    text-align: left;
    white-space: nowrap;
    width: auto;
    pointer-events: fill;
}

body {
    background: #000000e6;

}
section{
    margin-bottom: 1rem;
}
.bannier .titre{
    font-family: var(--fontZine);
    position:absolute;
    top: 17rem; 
    left: 24rem;
    z-index: 21;
    padding: 12px;
    color: white;
    width: 24%;
    text-align: center;
    font-size: 77px;
    

}
.bannier h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
 .bannier span{
    font-family: var(--fontZine);
    position:absolute;
    top: 45rem;
    left: 18rem;
    z-index: 21;
    padding: 12px;
    color: white;
    width: 40%;
    font-size: 29px;
    text-align: center;

}
.contner {
    background: #434343e6;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    display: flex;
}

.navbar {
    margin-left: 10rem;
}

.red {
    width: 3px;
    height: 12px;
    background: red;
    margin-left: 12px;
}

.t {
    width: 32px;
}

.connnexion {
    width: 171px;

    background-color: #FD6101;
}

.bannier {
    position: relative;
    background: #F3F3F3;
    height: 32rem;

}
.bannier .image-bannier  {
  z-index: 1;
}
.bannier .boul {
    margin-left: -12rem;
    padding-right: 8rem;
    margin-top: 5rem;
}.bannier .boul2 {
    padding-left:81rem;
    margin-top: -41rem;
}

/*  */


/*  */

.apropos{
    position: relative;
    margin-top: 19rem;
}

.apropos h1 {
    -webkit-text-stroke: 2px var(--elf-green);
    background-color: transparent;
    color: transparent;
    font-style: normal;
    font-weight: 700;
    padding: 7rem ;
    line-height: 77px;
    font-size: 67px;
    text-align: left;
    white-space: nowrap;
    width: auto;
    pointer-events: fill;
}

.apropos .image {
    position: relative;
    background-color: transparent;
    height: 623px;
    left: 13px;
    object-fit: cover;
    width: 662px;


}




.apropos p {
    color: var(--hurricane);
    font-family: var(--font-family-pt_sans_caption);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
}

/*  */
/*  */
.cours{
    background: url('../images/bgGreen.png') ;
    height: 700px;
}

.cours h1 {
    -webkit-text-stroke: 2px var(--disabled-grey);
    background-color: transparent;
    color: transparent;
    font-style: normal;
    font-weight: 700;
    padding: 7rem ;
    line-height: 77px;
    font-size: 67px;
    text-align: left;
    white-space: nowrap;
    width: auto;
    pointer-events: fill;
}
.cours .card {
    
    align-items: center;
    background-color: var(--sea-serpent);
    display: flex;
    gap: 20px;
    height: 116px;
    left: 0px;
    padding: 30px 50px 30px 60px;
    top: 0px;
    width: 312px;
}
.cours span {
    background-color: transparent;
    color: var(--white);
    font-style: normal;
    font-weight: 700;
    line-height: px;
    position: relative;
    width: 100%;
}

/*  */
/*  */


.avis{
    position: relative;
    margin-top: 5rem;
}

.avis h1 {
    -webkit-text-stroke: 2px var(--elf-green);
    background-color: transparent;
    color: transparent;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 7rem ;
    line-height: 77px;
    font-size: 67px;
    text-align: left;
    white-space: nowrap;
    width: auto;
    pointer-events: fill;
}

.avis .image {
    position: relative;
    background-color: transparent;
    height: 385px;
    left: 13px;
    object-fit: cover;
    width: 321px;


}

.avis p {
    color: var(--hurricane);
    font-family: var(--font-family-pt_sans_caption);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
}



.avis span {
    font-family: var(--font-family-rubik);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 49;
    margin-bottom: 19px;

}

/*  */
/*  */
.static{
background-color: #4fd1c561;
height: 35rem;
left: 0px;
position: relative;
top: 0px;
}




.static h1 {
    -webkit-text-stroke: 2px var(--elf-green);
    background-color: transparent;
    color: transparent;
    font-style: normal;
    font-weight: 700;
    padding: 7rem ;
    line-height: 77px;
    font-size: 67px;
    text-align: left;
    white-space: nowrap;
    width: auto;
    pointer-events: fill;
}
.static .star {
    
    align-items: center;
    display: block;
    gap: 20px;
    height: 116px;
    left: 0px;
    padding: 30px 80px 30px 80px;
    top: 0px;
    width: 312px;
    color: #4fd1c561;

}
.static span {
    color: var(--white);
    font-style: normal;
    font-weight: 700;
    line-height: 6px;
    position: relative;
    width: 100%;
    font-size: 92px;
    margin: 3px ;
    color: #005b52;


}


.static p {
    color: var(--white);
    font-style: normal;
    font-weight: 700;
    line-height: 6px;
    position: relative;
    width: 100%;
    font-size: 52px;
    color: #079587;

}

/*  */
/*  */
.prof{
    height: 700px;
}
.prof img{
  
    width: 251px;
    height: 251px;

}

.prof .fle{
    height: 30px;
    width:  50px;

}

.prof h1 {
    -webkit-text-stroke: 2px var(--elf-green);
    background-color: transparent;
    color: transparent;
    font-style: normal;
    font-weight: 700;
    padding: 7rem ;
    line-height: 77px;
    font-size: 67px;
    text-align: left;
    white-space: nowrap;
    width: auto;
    pointer-events: fill;
}

.prof span {
    background-color: transparent;
    color: var(--black);
    font-style: normal;
    font-weight: 700;
    line-height: px;
    position: relative;
    width: 100%;

}

/*  */
/*  */

.evenement{
    height: 700px;
}
.evenement img{
  
    width: 251px;
    height: 251px;

}

.evenement .fle{
    height: 30px;
    width:  50px;

}

.evenement h1 {
    -webkit-text-stroke: 2px var(--elf-green);
    background-color: transparent;
    color: transparent;
    font-style: normal;
    font-weight: 700;
    padding: 7rem ;
    line-height: 77px;
    font-size: 67px;
    text-align: left;
    white-space: nowrap;
    width: auto;
    pointer-events: fill;
}

.evenement span {
    background-color: transparent;
    font-style: normal;
    font-weight: 700;
    line-height: px;
    position: relative;
    color: var(--elf-green);
    background-color: #13dac63c;

}

.evenement i {
    background-color: transparent;
    font-style: normal;
    font-weight: 200;
    line-height: px;
    position: relative;
  color: #2e2e2e;
}

.evenement .detail {
    background-color: transparent;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    position: relative;
  color: orangered;
}
.evenement .th {
    width: 100%;
    border-bottom: #6d6d6d48 solid 0.21px;
  color: orangered;
}

/*  */
/*  */


.newsletter{
    margin-top: 35rem;
    background-color: #4fd1c561;
height: 35rem;
left: 0px;
position: relative;
top: 0px;
    
}

.newsletter h1 {
    -webkit-text-stroke: 2px var(--elf-green);
    background-color: transparent;
    color: transparent;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 7rem ;
    line-height: 77px;
    font-size: 67px;
    text-align: left;
    white-space: nowrap;
    width: auto;
    pointer-events: fill;
}

.newsletter .image {
    position: relative;
    background-color: transparent;
    height: 455px;
    object-fit: cover;


}

.newsletter p {
    color: var(--hurricane);
    font-family: var(--font-family-pt_sans_caption);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
}



.newsletter span {
    font-family: var(--font-family-rubik);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 49;
    margin-bottom: 19px;

}

/*  */
/*  */

